body {
    margin: 0 0 0 0;
    min-width: 600px;
    max-width: 2000px;
}

#menu_bar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #3498db;
}

ul {
    margin-right: inherit;
}

li a{
    display: inline-block;
    color: white;
    text-align: right;
    padding: 15px 26px;
    margin: 2px;
    text-decoration: none;
    font-size: 20px;
    float: right;
    
}

#docs_li{
    margin-right: 20%;

}
.menu{
    padding-top: 6px;
    margin: 0px;
    
}
.menu:hover {
    background-color: #2980b9;
}


.upmlz{
    float: left;
    font-size: 40px;
    color: #34495e;
    text-align: right;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: 'Poiret One', cursive;
        
}

#AVATAR_div {
    align-content: center;
    border-radius: 13px;
}

#avatar_img {
    width: 300px;
    position: absolute;
    left: 38%;
    margin-top: 20px;
    border: 20px solid #bdc3c7;
    border-radius: 13px;
}